.helm
.helm/*
/build
/build/*
/config
/config/*
.idea
.idea/*
cmd/tenkai/config
cmd/tenkai/__debug*


# Ignore dependency httpgetter
#vendor/k8s.io/helm/pkg/getter/httpgetter.go

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Ignore vscode workspace file
*.code-workspace

app.yaml
